{% extends 'base.html.twig' %}

{% block title %}TechWatch - New source{% endblock %}

{% block header %}
    <h1>New source</h1>
{% endblock %}

{% block content %}
    <div class="row justify-content-center">
        <h2 class="col-12 text-center pt-3">RSS</h2>

        <div class="col-12 col-md-5 px-3">
            {{ form_start(rssSourceForm) }}
            {{ form_row(rssSourceForm.url, {
                "label": "RSS source URL",
                "attr": {
                    "placeholder": "https://my.awesome.rss.feed.com"
                }
            }) }}

            {{ form_row(rssSourceForm.name, {
                "label": "(optional) Name",
                "attr": {
                    "placeholder": "You can set a custom name here"
                }
            }) }}

            {{ form_row(rssSourceForm.tags, {
                "label": "(optional) Associated tags"
            }) }}

            <button class="btn btn-success" type="submit">Add</button>
            {{ form_end(rssSourceForm) }}
        </div>

        <h2 class="col-12 text-center pt-3">Twitter</h2>

        <div class="col-12 col-md-5 px-3 pb-3">
            {{ form_start(twitListForm) }}
            {{ form_row(twitListForm.target, {
                "label": "Twitter id @",
                "attr": {
                    "placeholder": "chucknorris"
                }
            }) }}

            {{ form_row(twitListForm.name, {
                "label": "(optional) Name",
                "attr": {
                    "placeholder": "You can set a custom name here"
                }
            }) }}

            {{ form_row(twitListForm.tags, {
                "label": "(optional) Associated tags"
            }) }}

            <button class="btn btn-success" type="submit">Add</button>
            {{ form_end(twitListForm) }}
        </div>
    </div>
{% endblock %}
