{% extends 'base.html.twig' %}

{% block title %}TechWatch - News{% endblock %}

{% block header %}
    <h1>TechWatch</h1>
{% endblock %}

{% block content %}
    <h2>RSS</h2>

    <div class="row">
        {% for rssFeed in rssFeeds %}
            <div class="col-12 col-md-6 col-lg-4">
                <h2><a href="{{ path('news_show', {id: rssFeed.id}) }}">{{ rssFeed.title }}</a></h2>

                {% if app.user %}
                    <a class="btn btn-danger" href="{{ path('news_delete', {id: rssFeed.id}) }}">Delete</a>
                {% endif %}

                <ul>
                {% for article in rssFeed.items %}
                    <li>{{ article.title }}</li>
                {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>

    <h2>Twitter</h2>

    <div class="row">
        {% for twitList in twitLists %}
            <div class="col-12 col-md-4">
                {{ show_twit_list(twitList, null, 500, true, false)|raw }}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    {{ get_twitter_script()|raw }}
{% endblock %}
