{% extends 'base.html.twig' %}

{% block title %}{{ rssFeed.title }}{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("css/rss_feed_show.css") }}">
    <link rel="stylesheet" href="{{ asset("css/no_margin_row.css") }}">
{% endblock %}

{% block header %}
    <h1>{{ rssFeed.title }}</h1>
{% endblock %}

{% block content %}
    <div id="feed-list" class="row">
        {% for article in rssFeed.items %}
            <div class="col-12 col-md-6 col-lg-4 text-justify px-1 py-3 p-md-4 feed-item">
                <h2>{{ article.title }}</h2>

                <div class="feed-abstract text-muted">{{ article.description|abstract }}</div>

                <div class="text-center mt-2"><span class="btn btn-secondary show-content-btn">Read more</span></div>

                <div class="feed-content hidden">
                    {{ article.description|raw }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script src="{{ asset("js/ElementDisplayHandler.js") }}"></script>
    <script src="{{ asset("js/news_show.js") }}"></script>
{% endblock %}
